

.posicionamento-fixo {
    position: fixed;
    background-color: yellowgreen;
    right: 50px;
    bottom: 30px;
    width: 200px;
    height: 200px;
    border: dashed 3px red;
    margin: 10px;
}

.container {
    width: 400px;
    height: 400px;
    background-color: #959595;
    margin: 10px auto;
    position: fixed;
    top: 2px;
    left: 0;
    position: relative;
}

.container div {
    width: 40px;
    height: 40px;
    
}

.div-1 {
    background-color: red;
    top: 0;
    left: 0;
}

.div-2 {
    background-color: green;
    top: 0;
    right: 0;
}

.div-3 {
    background-color: yellow;
    bottom: 0;
    left: 0;
}

.div-4 {
    background-color: blue;
    right: 0;
    bottom: 0;
}

.div-1, .div-2, .div-3, .div-4 {
    border: none;
    position: absolute;
}